<div class="container">
	<h2>会員情報一覧</h2>
	<div class="row">
		<div class="col-lg-4">
			<caption>会員情報</caption>
			<table border="1" rules="rows,groups" class = "table table-striped">
				<tr>
					<th>プロフィール画像</th>
					<td><%= attachment_image_tag @guest, :profile_image, :fill,60,60, format: 'jpeg' %></td>
				</tr>
				<tr>
					<th>ニックネーム</th>
					<td><%= @guest.name %></td>
				</tr>
				<tr>
					<th>車両情報</th>
					<td><%= @guest.car %></td>
				</tr>
			</table>
			<%= link_to "編集する", edit_admin_guest_path,class:"btn btn-success btn-lg" %>
			<%= link_to "削除する", admin_guest_path,class:"btn btn-danger btn-lg", method: :delete,"data-confirm" => "本当に消しますか" %>
		</div>
		<div class="col-lg-8">
			<table border="1" rules="rows,groups" class = "table table-striped">
				<caption>会員店舗投稿一覧</caption>
				<thead>
					<tr>
						<th>店舗名</th>
						<th>店舗画像</th>
						<th>店舗案内</th>
					</tr>
				</thead>
				<% @guest.lounges.each do |lounge| %>
				<tbody>
					<tr>
						<td><%= link_to lounge.store_name %></td>
						<td><%= attachment_image_tag lounge, :store_image, :fill,60,60, format: 'jpeg' %></td>
						<td><%= lounge.busines_status %></td>
					</tr>
				</tbody>
				<% end %>
			</table>
			<table border="1" rules="rows,groups" class = "table table-striped">
				<caption>レビュー投稿一覧</caption>
				<thead>
					<tr>
						<th>店舗名</th>
						<th>レビューカテゴリー</th>
						<th>レビュータイトル</th>
						<th>評価</th>
						<th>星評価</th>
						<th>レビュー画像</th>
						<th>レビュー本文</th>
					</tr>
				</thead>
				<tbody>
					<% @guest.reviews.each do |review| %>
					<tr>
						<td><%= review.lounge.store_name %></td>
						<td><%= review.ganre.category %></td>
						<td><%= review.title %></td>
						<td><%= review.rate %></td>
						<td>
							<div id="star-rate-<%= review.id %>"></div>
					         <script>
					          $('#star-rate-<%= review.id %>').raty({
					            size: 36,
					            starOff:  '<%= asset_path('star-off.png') %>',
					            starOn : '<%= asset_path('star-on.png') %>',
					            starHalf: '<%= asset_path('star-half.png') %>',
					            half: true,
					            readOnly: true,
					            score: <%= review.rate %>,
					          });
					          </script>  
						</td>
						<td><%= attachment_image_tag review, :review_image, :fill,60,60, format: 'jpeg',fallback: "no_image.jpg",size: "100x100" %></td>
						<td><%= review.explanation %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>