<div class="container">
	<div class="row">
		<div class="col-lg-2">
		</div>
		<div class="col-lg-8">
			<h1>マイ情報編集ページ</h1>
			<%= form_for @guest do |f| %>
				<table class= "top">
						<tr>
							<th>ニックネーム</th>
							<td><%=f.text_field :name%></td>
						</tr>
						<tr>
							<th>プロフィール画像</th>
							<td><%= f.attachment_field :profile_image %></td>
						</tr>
						<tr>
							<th>車両情報</th>
							<td><%= f.text_area :car %></td>
						</tr>
					</tbody>
				</table>
				<%= f.submit '編集する',class:"btn btn-success btn-lg" %><%= link_to "退会する", guest_path,class:"btn btn-danger btn-lg", method: :delete,"data-confirm" => "本当に退会しますか" %>
			<% end %>
			
		</div>
		<div class="col-lg-2">
		</div>
	</div>
</div>