<h1>マイ情報編集ページ</h1>
<%= form_for @guest do |f| %>
	<table>
			<tr>
				<th>ニックネーム</th>
				<td><%=f.text_field :name%></td>
			</tr>
			<tr>
				<th>プロフィール画像</th>
				<td><%= f.attachment_field :profile_image %></td>
			</tr>
			<tr>
				<th>車両情報</th>
				<td><%= f.text_area :car %></td>
			</tr>
		</tbody>
	</table>
	<%= f.submit '編集する' %>
<% end %>