<h1>マイページ</h1>
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<table class = "table table-striped">
				<caption></caption>
				<thead>
					<caption>ゲスト情報</caption>
				</thead>
				<tbody>
					<tr>
						<td><%= attachment_image_tag @guest, :profile_image, :fill,60,60, format: 'jpeg',fallback: "no_image.jpg",size: "100x100"  %></td>
					</tr>
					<tr>
						<td><%= @guest.name %></td>
					</tr>
					<tr>
						<td><%= @guest.car %></td>
					</tr>
				</tbody>
			</table>
			<%= link_to "編集する", edit_guest_path,class:"btn btn-success btn-lg" %>
		</div>
		<div class="col-lg-8">
			<table border="1" rules="rows,groups" class = "table table-striped">
			<caption>お気に入り一覧</caption>
			<thead>
				<th>店舗画像</th>
				<th>店舗名</th>
				<th>住所</th>
				<th>施設内容</th>
				<th>駐車場情報</th>
				<th>営業案内</th>
				<th>営業時間</th>
				<th></th>
			</thead>
			<% @fav_lounges.each do |lounge| %>

			<tbody>
				<td><%= attachment_image_tag lounge, :store_image, :fill,60,60, format: 'jpeg' %></td>
				<td class = "td-lounge"><%= lounge.store_name %></td>
				<td><%= lounge.address %></td>
				<td><%= lounge.content %></td>
				<td><%= lounge.parking %></td>
				<td><%= lounge.busines_status %></td>
				<td><%= lounge.business_hours %></td>
				<td><%= link_to "休憩所詳細を見る", guest_lounge_path(lounge.id),class:"btn btn-info btn-lg" %></td>
			</tbody>
			<% end %>
		</table>
		<div class ="pagenate"><%= will_paginate @fav_lounges, :previous_label => ' &lt 前へ', :next_label => '次へ &gt'  %></div>
		<table border="1" rules="rows,groups" class = "table table-striped">
			<caption>自身の投稿一覧</caption>
			<thead>
				<th>店舗画像</th>
				<th>店舗名</th>
				<th>住所</th>
				<th>施設内容</th>
				<th>駐車場情報</th>
				<th>営業案内</th>
				<th>営業時間</th>
				<th>休憩所詳細</th>
			</thead>
			<% @lounges.each do |lounge| %>

			<tbody>
				<td><%= attachment_image_tag lounge, :store_image, :fill,60,60, format: 'jpeg' %></td>
				<td><%= lounge.store_name %></td>
				<td><%= lounge.address %></td>
				<td><%= lounge.content %></td>
				<td><%= lounge.parking %></td>
				<td><%= lounge.busines_status %></td>
				<td><%= lounge.business_hours %></td>
				<td><%= link_to "休憩所詳細を見る", guest_lounge_path(lounge.id),class:"btn btn-info btn-lg" %></td>
			</tbody>
			<% end %>

		</table>
		<div class ="pagenate"> <%= will_paginate @lounges, :previous_label => ' &lt 前へ', :next_label => '次へ &gt'  %></div>
	</div>
	</div>
</div>