<h1>店舗情報一覧</h1>
	<table>
		<thead>
			<th>店舗名</th>
			<th>住所</th>
			<th>施設内容</th>
			<th>駐車場情報</th>
			<th>店舗画像</th>
			<th>営業案内</th>
			<th>営業時間</th>
		</thead>
		<% @lounges.each do |lounge| %>
		<tbody>
			<td><%= lounge.store_name %></td>
			<td><%= lounge.adress %></td>
			<td><%= lounge.content %></td>
			<td><%= lounge.parking %></td>
			<td><%= attachment_image_tag lounge, :store_image, :fill,60,60, format: 'jpeg' %></td>
			<td><%= lounge.busines_status %></td>
			<td><%= lounge.business_hours %></td>
			<td><%= link_to "レビューを見る", guest_lounge_path(lounge.id) %>
		</tbody>
	<% end %>
	</table>
