<h1>レビュー詳細画面</h1>
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<table>
				<caption>投稿者</caption>
				<thead>
					<tr>
						<th>プロフィール画像</th>
						<td><%= attachment_image_tag @review.guest, :profile_image, :fill,60,60, format: 'jpeg',fallback: "no_image.jpg" %></td>
					</tr>
					<tr>
						<th>ニックネーム</th>
						<td><%= @review.guest.name %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-8">
			<table class= "table table-striped">
				<tr>
					<th>投稿日</th>
					<td><%= @review.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
				</tr>
				<tr>
					<th>ジャンル</th>
					<td><%= @review.ganre.category %></td>
				</tr>
				<tr>
					<th>店舗名</th>
					<td><%= @review.lounge.store_name %></td>
				</tr>
				<tr>
					<th>レビュータイトル</th>
					<td><%= @review.title %></td>
				</tr>
				<tr>
					<th>星評価</th>
					<td>
						<div id="star-rate-<%= @review.id %>"></div>
					    <script>
					          $('#star-rate-<%= @review.id %>').raty({
					            size: 36,
					            starOff:  '<%= asset_path('star-off.png') %>',
					            starOn : '<%= asset_path('star-on.png') %>',
					            starHalf: '<%= asset_path('star-half.png') %>',
					            half: true,
					            readOnly: true,
					            score: <%= @review.rate %>,
					          });
					    </script>  
					</td>
				</tr>
				<tr>
					<th>評価点</th>
					<td><%= @review.rate %></td>
				</tr>
				<tr>
					<th>レビュー</th>
					<td><%= @review.explanation %></td>
				</tr>
				<tr>
					<th>レビュー画像</th>
					<td><%= attachment_image_tag @review, :review_image, :fill,60,60, format: 'jpeg' %></td>
				</tr>
			</table>
			<% if @review.liked_by?(current_guest) %>
			  <li>
			    <%= link_to guest_review_like_path(@review), method: :delete do %>
			      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
			      <%= @review.likes.count %> いいね
			    <% end %>
			  </li>
			<% else %>
			  <li>
			    <%= link_to guest_review_like_path(@review), method: :post do %>
			      <i class="fa fa-heart-o" aria-hidden="true"></i>
			      <%= @review.likes.count %> いいね
			    <% end %>
			  </li>
			<% end %>
			<%= link_to "編集する", edit_guest_review_path,class:"btn btn-info btn-lg" %>
			<%= link_to "店舗詳細に戻る", guest_lounge_path(@review.lounge.id),class:"btn btn-info btn-lg" %>
		</div>
	</div>
</div>