<h1 class=>管理者用店舗編集画面</h1>
<%= form_for @lounge, url:admin_lounge_path do |f| %>
	<table>
		<thead>
			<tr>
				<th>店舗名</th>
				<td><%= f.text_field :store_name %></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><%= f.text_field :prefecture %>
					<%= f.text_field :address_city %>
					<%= f.text_field :address_street %>
				</td>
			</tr>
			<tr>
				<th>施設内容</th>
				<td><%= f.select :content, Lounge.contents.keys %></td>
			</tr>
			<tr>
				<th>店舗画像</th>
				<td><%= f.attachment_field :store_image %></td>
			</tr>
			<tr>
				<th>駐車場情報</th>
				<td><%= f.text_area :parking %></td>
			</tr>
			<tr>
				<th>営業時間</th>
				<td><%= f.text_field :business_hours %></td>
			</tr>
			<tr>
				<th>営業案内</th>
				<td><%= f.select :busines_status, Lounge.busines_statuses.keys %></td>
			</tr>

		</thead>
	</table>
	<%= f.submit '編集する' %>
<% end %>